apiVersion: v1
kind: Secret
metadata:
  name: alphatracer-secrets
  namespace: alphatracer
type: Opaque
stringData:
  database-url: "postgresql://postgres:<CHANGE_TO_SECURE_PASSWORD>@db:5432/trading_db"
  secret-key: "<CHANGE_TO_RANDOM_HIGH_ENTROPY_JWT_SECRET_KEY>"
